@import '../00_Abstracts/index.scss';

.main-hero {
    overflow: hidden;
    height: 600px;

    @include mq(sm) {
        height: 400px;
    }

    @include mq(xs) {
        height: 300px;
    }

    ks-img {
        display: block;
    }
}