@import '../00_Abstracts/index.scss';

html,
body {
    a {
        text-decoration: none;
        @include color(dark);
        @include font-size(xs);

        @include hover-focus {
            @include color(primary);
        }
    }
}
