@import '../00_Abstracts/index.scss';

.ks-card {
    overflow: visible;
    @include b(none);
    @include br(none);
    @include shadow(none);
}

.products {
    .ks-card {
        .card-content {
            align-items: flex-start;

            @include mq(sm) {
                align-items: center;
            }
        }
    }
}