@import '../00_Abstracts/index.scss';

.page-header {
    @include z-index(sm);

    .top-nav {
        .brand {
            a {
                @include font(accent);
            }
        }

        .site-search {
            max-width: 450px;
        }

        .util-links {
            a+a {
                @include b-l($size: xxxs, $color: light, $variant: darker);
            }
        }
    }

    .bottom-nav {
        @include transition(transform);
        @include z-index(sub);

        &.hide-nav {
            transform: translateY(-100%);
            @include transition(transform)
        }

        .desktop-links {
            .ks-button .button.dark.clear {
                @include font-size(xs);

                @include hover-focus {
                    text-shadow: none;
                    @include color(primary);
                }
            }
        }
    }
}